<div class="container">
  <div class="displayArea">
    <input type="text" id="inputNumber" value="{{num}}">
    <input type="text" id="inputBox" value="{{inputBox}}" disabled>
    <br>
    <input id="resultBox" value="{{result == 0 ? '' : result}}" disabled >
  </div>
  <div class="otherArea">
    <div class="bounceArea">
      <div class="bounceAreaDiv">
        <i class="far fa-clock" (click) = "bounceClick('recordDiv')"></i>
        <div class="recordDiv">
          歷史紀錄
        </div>
      </div>
      <div class="bounceAreaDiv">
        <i class="fas fa-calculator" (click) = "bounceClick('otherSymbolDiv')"></i>
        <div class="otherSymbolDiv">
          <span>x<sup>2</sup></span>
          <span>√</span>
          <span>log</span>
        </div>
      </div>
      <div class="bounceAreaDiv">
        <span class="memory" (click) = "bounceClick('memoryDiv')">MS</span>
        <div class="memoryDiv">
          MC
        </div>
      </div>
    </div>
    <i class="fas fa-backspace" (click) = "backspace()"></i>
  </div>
  <hr>
  <div class="buttonArea">
    <div class="buttonSmallArea">
      <button class="circle" (click)="clearAll()">
        <span class="clear">Ｃ</span>
      </button>
      <button class="circle">
        <span class="symbol">（）</span>
      </button>
      <button class="circle" (click)="addSymbol('%')">
        <span class="symbol">％</span>
      </button>
      <button class="circle" (click)="addSymbol('/')">
        <span class="symbol">÷</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="circle" (click)="addNumber('7')">
        <span class="number">７</span>
      </button>
      <button class="circle" (click)="addNumber('8')">
        <span class="number">８</span>
      </button>
      <button class="circle" (click)="addNumber('9')">
        <span class="number">９</span>
      </button>
      <button class="circle" (click)="addSymbol('*')">
        <span class="symbol">×</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="circle" (click)="addNumber('4')">
        <span class="number">４</span>
      </button>
      <button class="circle" (click)="addNumber('5')">
        <span class="number">５</span>
      </button>
      <button class="circle" (click)="addNumber('6')">
        <span class="number">６</span>
      </button>
      <button class="circle" (click)="addSymbol('-')">
        <span class="symbol">－</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="circle" (click)="addNumber('1')">
        <span class="number">１</span>
      </button>
      <button class="circle" (click)="addNumber('2')">
        <span class="number">２</span>
      </button>
      <button class="circle" (click)="addNumber('3')">
        <span class="number">３</span>
      </button>
      <button class="circle" (click)="addSymbol('+')">
        <span class="symbol">＋</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="circle">
        <span class="symbol">+/-</span>
      </button>
      <button class="circle" (click)="addNumber('0')">
        <span class="number">０</span>
      </button>
      <button class="circle" (click)="addSymbol('.')">
        <span class="symbol">．</span>
      </button>
      <button id="settlement" class="circle" (click)="settlement()">
        <span>＝</span>
      </button>
    </div>
  </div>
</div>