<div class="container">
  <!-- 歷史紀錄按鈕 start -->
  <div class="historyArea">
    <i class="far fa-clock" (click)="openHistoryWindows()"></i>
  </div>
  <!-- 歷史紀錄按鈕 end -->
  <!-- 歷史紀錄視窗 start -->
  <div
    [style.display]="isOpenHistoryWindows ? 'block' : 'none'"
    class="historyWindows"
  >
    <div class="historyOutsiteArea">
      <div
        class="historySmallArea"
        *ngFor="let i of historyInput"
        (click)="
          changeHistoryFormulaBtn(
            i.storeNum,
            i.currentOperator,
            i.currentNum,
            i.resultNum
          )
        "
      >
        <div class="formulaDiv">
          <span>{{ i.storeNum }}</span>
          <span
            >{{
              i.currentOperator == "*" ||
              i.currentOperator == "/"
                ? ""
                : i.currentOperator
            }}{{ i.currentOperator == "*" ? "×" : ""
            }}{{ i.currentOperator == "/" ? "÷" : "" }}</span
          >
          <span>{{ i.currentNum }}</span>
        </div>
        <div class="resultDiv">
          <p>{{ i.resultNum }}</p>
        </div>
      </div>
    </div>
    <div class="historyTrashArea">
      <i class="fas fa-trash-alt" (click)="deleteHistoryNumBtn()"></i>
    </div>
  </div>
  <!-- 歷史紀錄視窗 end -->
  <!-- 算式區 start -->
  <div class="displayArea">
    <div class="formulaArea">
      <span>{{ storeNum }}</span>
      <span
        >{{
          currentOperator == "*" || currentOperator == "/"
            ? ""
            : currentOperator
        }}{{ currentOperator == "*" ? "×" : ""
        }}{{ currentOperator == "/" ? "÷" : "" }}</span
      >
      <span>{{ currentNum }}</span>
    </div>
    <div class="resultArea">
      <input id="resultBox" [value]="resultNum" disabled />
    </div>
  </div>
  <!-- 算式區 end -->
  <!-- 先乘除後加減區 start -->
  <!-- 記憶體按鈕 start -->
  <div class="memoryArea">
    <span
      [ngClass]="isMemoryOn ? 'presetOn' : 'presetOff'"
      (click)="isMemoryOn ? memoryClearBtn() : ''"
      >MC</span
    >
    <span
      [ngClass]="isMemoryOn ? 'presetOn' : 'presetOff'"
      (click)="isMemoryOn ? memoryRecallBtn() : ''"
      >MR</span
    >
    <span
      [ngClass]="isMemoryOn ? 'presetOn' : 'presetOff'"
      (click)="isMemoryOn ? memoryBtn('M+') : ''"
      >M+</span
    >
    <span
      [ngClass]="isMemoryOn ? 'presetOn' : 'presetOff'"
      (click)="isMemoryOn ? memoryBtn('M-') : ''"
      >M-</span
    >
    <span class="presetOn" (click)="memorySaveNumBtn()">MS</span>
    <span
      [ngClass]="isMemoryOn ? 'presetOn' : 'presetOff'"
      (click)="isMemoryOn ? openMemoryWindows() : ''"
      >M▾</span
    >
  </div>
  <!-- 記憶體按鈕 end -->
  <!-- 記憶體視窗 start -->
  <div
    [style.display]="isOpenMemoryWindows ? 'block' : 'none'"
    class="memoryWindows"
  >
    <div class="memoryOutsiteArea">
      <div
        class="memorySmallArea"
        *ngFor="let i of memoryNums; let idx = index"
      >
        <span (click)="changeResultNumBtn(i.number)">{{
          i.number
        }}</span>
        <div class="memoryBtnArea">
          <button (click)="memorySeveralBtn(idx, i.number, 'MC')">
            MC
          </button>
          <button (click)="memorySeveralBtn(idx, i.number, 'M+')">
            M+
          </button>
          <button (click)="memorySeveralBtn(idx, i.number, 'M-')">
            M-
          </button>
        </div>
      </div>
    </div>
    <div class="memoryTrashArea">
      <i class="fas fa-trash-alt" (click)="deleteMemoryNumBtn()"></i>
    </div>
  </div>
  <!-- 記憶體視窗 end -->
  <!-- 先乘除後加減區 end -->
  <!-- 按鈕區 start -->
  <div class="buttonArea">
    <div class="buttonSmallArea">
      <button class="operatorArea" (click)="percentOrSquareBtn('%')">
        <span class="symbol">％</span>
      </button>
      <button class="operatorArea" (click)="resetCurrentNumBtn()">
        <span class="clear">CE</span>
      </button>
      <button class="operatorArea" (click)="resetBtn()">
        <span class="clear">Ｃ</span>
      </button>
      <button class="operatorArea" (click)="backspace()">
        <i class="fas fa-backspace"></i>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="operatorArea" (click)="percentOrSquareBtn('x^2')">
        <span class="symbol">x<sup>2</sup></span>
      </button>
      <button class="operatorArea" (click)="percentOrSquareBtn('√')">
        <span class="symbol">√</span>
      </button>
      <button class="operatorArea" (click)="operatorBtn('log')">
        <span class="symbol">log</span>
      </button>
      <button class="operatorArea" (click)="operatorBtn('/')">
        <span class="symbol">÷</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="numberArea" (click)="inputNum('7')">
        <span class="number">７</span>
      </button>
      <button class="numberArea" (click)="inputNum('8')">
        <span class="number">８</span>
      </button>
      <button class="numberArea" (click)="inputNum('9')">
        <span class="number">９</span>
      </button>
      <button class="operatorArea" (click)="operatorBtn('*')">
        <span class="symbol">×</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="numberArea" (click)="inputNum('4')">
        <span class="number">４</span>
      </button>
      <button class="numberArea" (click)="inputNum('5')">
        <span class="number">５</span>
      </button>
      <button class="numberArea" (click)="inputNum('6')">
        <span class="number">６</span>
      </button>
      <button class="operatorArea" (click)="operatorBtn('-')">
        <span class="symbol">－</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="numberArea" (click)="inputNum('1')">
        <span class="number">１</span>
      </button>
      <button class="numberArea" (click)="inputNum('2')">
        <span class="number">２</span>
      </button>
      <button class="numberArea" (click)="inputNum('3')">
        <span class="number">３</span>
      </button>
      <button class="operatorArea" (click)="operatorBtn('+')">
        <span class="symbol">＋</span>
      </button>
    </div>
    <div class="buttonSmallArea">
      <button class="numberArea" (click)="changePositiveOrNegative()">
        <span class="symbol">+/-</span>
      </button>
      <button class="numberArea" (click)="inputNum('0')">
        <span class="number">０</span>
      </button>
      <button class="numberArea" (click)="inputNum('.')">
        <span class="symbol">．</span>
      </button>
      <button id="settlement" class="numberArea" (click)="equalBtn()">
        <span>＝</span>
      </button>
    </div>
  </div>
  <!-- 按鈕區 start -->
</div>
